* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #f3f7f6; */
}
body {
  background-color: #f3f7f6 !important;
}

.header-container {
  background: #51b5c3;
  border-radius: 0px 0px 24px 24px;
  padding: 16px;
  margin-bottom: 50px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-content h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-left: 50px;
}
.header-content-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.header-name {
  margin-left: 12px;
}

.header-name p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* Nav  */

.inputSelf img {
  transform: translate(182px, -18px);
}
.inputSelf select {
  border-bottom: 1px solid;
  padding: 8px;
  width: 250px;
  font-size: 18px;
}
.inputSelf input {
  border-bottom: 1px solid;
  padding: 8px;
  width: 250px;
  font-size: 18px;
}
.inputSelf {
  /* width: 492px; */
  margin-bottom: 30px;
}

.inputSelf label {
  font-size: 21px;
  font-weight: bold;
}

.cntDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 581px;
}
.inputProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1120px;
  height: 500px;
  background: #fff;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
}
.inputProduct .buy {
  display: flex;
  align-items: center;
  /* margin-left: 313px; */
}
.inputProduct .buy {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.rBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.btnBack {
  width: 195px;
  height: 55px;
  border-radius: 50px;
  border: none;
  background: #ff0000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  /* margin-left: 500px; */
  margin-top: 20px;
  cursor: pointer;
}
/* frame 5 End */
.list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  right: 48px;
  top: 78px;
}

.list a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #161515;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .header-content h1 {
    font-size: 27px;
  }
  .inputProduct {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 20px;
    align-items: start;
  }
  .buy {
    width: 100%;
  }

  .inputProduct .buy {
    margin-bottom: 15px;
  }
  .leftDiv {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rBtn {
    width: 100%;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 768px) {
  .header-content h1 {
    margin-left: 0;
    font-size: 22px;
  }
  .header-name {
    margin-left: 0px;
  }
  .header-name p {
    font-size: 16px;
  }
  .inputProduct .buy {
    margin-bottom: 15px;
    font-size: 29px;
  }
  .list {
    right: 51px;
    top: 73px;
  }
}
@media only screen and (max-width: 426px) {
  .header-name p {
    display: none;
  }
  .header-content h1 {
    font-size: 16px;
    line-height: 22px;
  }
  .rBtn {
    display: flex;
    flex-direction: column;
  }
  .header-content-right {
    gap: 0;
    margin-right: 0;
  }
  .list {
    right: 30px;
    top: 63px;
  }
  .inputProduct {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 321px) {
  .inputProduct {
    margin-top: 70px;
  }
}
