@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f7f6;
}

.header-container {
  background: #51b5c3;
  border-radius: 0px 0px 24px 24px;
  padding: 16px;
  margin-bottom: 50px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-content h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-left: 50px;
  color: #ffffff;
}
.header-content-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.header-name {
  margin-left: 12px;
}

.header-name p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* //////////////////Navbar//////////////// */

.agile-body {
  background-color: #f3f7f6;
}

.navbar-container {
  background: #000000;
  border-radius: 15px;
  padding: 20px;
  max-width: 1398px;
  margin: 0 auto;
}

.navbar-item {
}

.navbar-item ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-item ul li {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  list-style-type: none;
}

ul li button {
  background: #51b5c3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 119px;
  height: 61px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
  border: none;
}

/* /////////////////////////Table///////////////////// */

.table-container {
}

table {
  overflow: hidden;
  border-radius: 15px;
  width: 1380px;
  margin: 0 auto;
}

table thead {
  background: #000000;
  border-radius: 15px;
  height: 100px;
  max-width: 1398px;
  margin: 0 auto;
}

thead tr th {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
}

thead tr th img {
  transform: rotateY(180deg);
  height: 35px;
  width: 40px;
}
thead tr th button:hover {
  outline: 5px solid #9e8463;
  outline-offset: 5px;
  transition: 0.7s ease-in-out;
}

thead tr th button {
  background: #51b5c3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 113px;
  height: 56px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;

  color: #ffffff;
  border: none;
}

a button {
  background: #51b5c3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 172px;
  height: 56px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;

  color: #ffffff;
  border: none;
}
a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
table td {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  border-right: 1px solid #000;
  color: #000000;
}

table td:first-of-type {
  height: 55px;
  border-radius: 10px 0 0 10px;
  border: 1px solid transparent;
  border-right: 1px solid #000;
}

table td:last-of-type {
  border-radius: 0 10px 10px 0;
  border: 1px solid transparent;
}

table td button {
  background: #518cc3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 150px;
  height: 35px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  border: none;
  color: #ffffff;
}

table td button:hover {
  outline: 5px solid #cac2b7;
  outline-offset: 5px;
  transition: 0.7s ease-in-out;
}
tr .table-icon {
  display: flex;
  justify-content: space-around;
  margin-top: 9px;
  align-items: center;
}

tbody tr {
  background-color: #fff;
}

thead::after {
  content: "";
  width: 500%;
  height: 34px;
  background-color: #f3f7f6;
  display: block;
}
/* .table-item{
    display: flex;
}

.table-item p{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
   
    color: #000000;
}

.table-item button{
    background: #518cc3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 150px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    border: none;
    color: #ffffff;
} */

tbody tr .active {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #1dbc70;
}

tbody tr .locked {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #bc1d1d;
}

.list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  right: 60px;
  top: 107px;
}

.list a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #161515;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  table {
    width: 100%;
  }
  thead tr th {
    font-size: 20px;
  }
  thead tr th button {
    font-size: 20px;
    height: 42px;
  }
  table thead tr {
    height: 57px;
  }
  .list {
    position: absolute;
    right: 52px;
    top: 77px;
  }

  tbody tr .active {
    font-size: 20px;
  }
  table thead {
    height: auto;
  }
  tbody tr .locked {
    font-size: 20px;
  }
  table td button {
    width: 140px;
    font-size: 20px;
  }
  a button {
    width: 160px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 769px) {
  thead tr th button {
    height: 35px;
  }
  table thead {
    height: auto;
  }
  table thead tr {
    height: 54px;
  }
  thead tr th img {
    height: 23px;
  }
  .header-content-right {
    margin-right: 0px;
  }
  .header-content h1 {
    margin-left: 0;
  }
  .list {
    position: absolute;
    right: 35px;
    top: 80px;
  }
}

@media only screen and (max-width: 430px) {
  table thead {
    height: auto;
  }
  .header-name {
    display: none;
  }

  thead tr th {
    font-size: 13px;
  }
  thead tr th button {
    width: 60px;
    height: 26px;
    font-size: 13px;
  }
  table td {
    font-size: 16px;
  }
  tr .table-icon {
    margin-top: 7px;
    height: 64px;
    padding-right: 10px;
  }
  thead tr {
    height: 80px;
  }
  table td button {
    font-size: 13px;
    width: 72px;
    height: 29px;
  }
  thead tr th img {
    height: 20px;
    width: 20px;
  }
  tbody tr .active {
    font-size: 16px;
  }
  tbody tr .locked {
    font-size: 16px;
  }
  .header-content h1 {
    font-size: 29px;
    margin-left: 0;
  }
  .header-content-right {
    margin-right: 0;
  }
  .list {
    position: absolute;
    right: 34px;
    top: 76px;
    z-index: 6666;
  }
}

@media only screen and (max-width: 321px) {
  #image {
    width: 41px;
  }
  tr .table-icon {
    padding-right: 0px;
  }
  .list {
    position: absolute;
    right: 10px;
    top: 67px;
    z-index: 6666;
  }
  .list a {
    font-size: 15px !important;
  }

  .header-content h1 {
    font-size: 27px;
    margin-left: 0;
  }
  thead tr th button {
    width: 47px;
  }
  .header-content-right {
    margin-right: 0;
  }
  thead tr th img {
    width: 14px;
  }
}
