@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  height: auto;
  background-color: #f3f7f6;
}


/* body {
    width: auto;
    height: auto;
    background-color: #F3F7F6;
    box-sizing: border-box;
    padding: 0;
    margin:0;
} */

/* .cards {
    width: 100%;

} */



.header-container {
    background: #51b5c3;
    border-radius: 0px 0px 24px 24px;
    padding: 16px;
    margin-bottom: 50px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
  }
  
  .header-content h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin-left: 50px;
    color: #ffffff;
  }
  .header-content-right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }
  
  .header-name {
    margin-left: 12px;
  }
  
  .header-name p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  
    color: #ffffff;
  }






.cards {
    width: auto;
    height: 249px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    
}

.inside-cards {
    width: 200px;
    height: 249px;
    background-color: white;
    border-radius: 30px;
}

.second-row-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 37px;
}

.second-row-cards:first-child {
    width: 100px;
    text-align: center;
}


.cards1 {
    width: 470px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.company-name{
width: 170.51px;
height: 42.63px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 37px;

color: #000000;
}

.customer-id {
    width: 160.97px;
height: 25.35px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #000000;
}

.square {
    width: 99.56px;
    height: 105.21px;
    background: #D9D9D9;
border: 1px solid rgba(0, 0, 0, 0.4);
border-radius: 30px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 10px;
line-height: 15px;
display: flex;
align-items: center;
justify-content: center;


}

.company-text {
    width: 170px;
}

.company-and-square {
    display: flex;
}

.list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  right: 60px;
  top: 107px;
}
.list a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #161515;
  text-decoration: none;
}


@media only screen and (max-width: 1025px) {
  .cards {
    flex-wrap: wrap;
  }
  .list {
    position: absolute;
    right: 52px;
    top: 77px;
  }
}

@media only screen and (max-width: 769px) {

  .header-name {
    display: none;
  }
  .header-content h1 {
    font-size: 30px;
    margin-left: 0px;
  }

  .header-content-right {
    margin-right: 0px;
  }

  .header-content-right img {
    width: 25px;
    height: 25px;
  }

  .header-icon img {
    width: 40px;
    height: 40px;
  }
  .list {
    position: absolute;
    right: 35px;
    top: 80px;
  }
}

@media only screen and (max-width: 426px) {

  .header-content h1 {
    font-size: 20px;
  }

  .header-content-right img {
    width: 24px;
    height: 24px;
  }

  .header-icon img {
    width: 35px;
    height: 35px;
  }

  .cards1 {
    width: 370px;
    height: 214px;
  }
  .list {
    position: absolute;
    right: 34px;
    top: 76px;
    z-index: 6666;
  }
}

